@import url(https://fonts.google.com/specimen/Karla);
@import url(https://fonts.google.com/specimen/Inter);
@import url(https://fonts.google.com/specimen/Roboto);

:root {
    --dark: #B0B2B8;
    --dark-62: #616265;
    --dark-54: #727376;
    --light: #DADDE4;
    --light-7: #D3D6DC;
    --blue: #4C5ADC;
    --blue-button: #2364D2;
    --light-blue: #266EE7;
    --purple-button: #7B68EE;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DDEEFC;
    font-family: "Karla", Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    width: 25.625rem;
    height: 31.3125rem;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #FFF;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.10));
}

.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-principal {
    width: 22.5625rem;
    height: 14.9375rem;
    flex-shrink: 0;
    border-radius: 8px;
    position: relative;
    bottom: 70px;
}

.local {
    width: 360px;
    height: 24.884px;
    flex-shrink: 0;
    color: #000;
    font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.34px;
    text-transform: capitalize;
}

.info {
    display: inline-block;
    align-self: flex-start;
    position: relative;
    bottom: 50px;
    padding-left: 25px;
}

.rating {
    display: flex;
}

.rating p {
    width: 52.5px;
    height: 16.589px;
    flex-shrink: 0;
    color: #B0B2B8;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-left: 5px;
}

.description {
    display: inline-block;
    align-self: flex-start;
    position: relative;
    bottom: 30px;
    padding-left: 25px;
}

.description p {
    width: 300px;
    height: 43.132px;
    flex-shrink: 0;
    color: #616265;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: -0.084px;
}

.sub-tit {
    width: 137.5px;
    height: 18.248px;
    flex-shrink: 0;
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
}


.divider {
    margin-left: 30px;
    border: 1px solid #DADDE4;
    width: 360px;
    height: 0.829px;
    flex-shrink: 0;
}

.sub-principal {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 20px;
}

.disp {
    width: 146.25px;
    height: 18.248px;
    flex-shrink: 0;
    color: #000;
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    margin-bottom: 5px;
}

li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 71.25px;
    height: 24.884px;
    flex-shrink: 0;
    border: 1px solid #D3D6DC;
    border-radius: 100px;
    margin-top: 8px;
    margin-right: 5px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.button {
    display: flex;
    justify-self: center;
    text-align: center;
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.198px;
    text-transform: uppercase;
    align-self: center;
    padding: 0 140px 0 140px;
    height: 38.156px;
    flex-shrink: 0;
    border: 0 solid #000;
    border-radius: 8px;
    background: #2364D2;
    color: #FFF;
    cursor: pointer;
    margin-right: 35px;
}

li:hover {
    color: #4C5ADC;
    border: 1px solid #4C5ADC;
    cursor: pointer;
}